body {
    position: relative; 
   
   /*  width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center; */
  /*  height:100vh; */
    &::before {
        content: "";
       
        background-size: cover; 
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url("./flag.jpg");
        background-size: cover; 
        background-position: top center;
        opacity: 0.25;
    }
}



.banner {
    align-items: center;
    isolation: isolate;
}
.vote {
    font-size: 250%;
    display: inline;
    isolation: isolate;
}

.gold {
    color: #a17f1a;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #a17f1a;
    font-size: 500%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    isolation: isolate;
}

.blue {
    margin-top: 0px;
    padding-top: 0px;
    color: #56A0D3;
    font-weight: bold;
    text-align: center;
    font-size: 250%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    isolation: isolate;
}

.blue2 {
    margin-top: 0px;
    padding-top: 0px;
    color: #56A0D3;
    font-weight: bold;
    text-align: center;
    font-size: 250%;
    padding-top: 0px;
    margin-top: 0px;
    isolation: isolate;
}

.for {
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    color: #56A0D3;
    font-size: 200%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    isolation: isolate;
}

.bwpic {
    align-items: right;
    align-content: right;
    /* display: block; */
    margin-left: auto;
    display: inline;
    right: 0;
    isolation: isolate;
}

p {
    font-size: 200%;
}